<div class="main-slider">
    <ul class="slider-track">
        {{#sliderItems}}
            <li class="slider-item" data-action="remove:sliderItems.{{.index}}">
                {{.}}
            </li>
        {{/sliderItems}}
        {{^sliderItems}}
            <li class="slider-item">
                <p>Nothing here...</p>
            </li>
        {{/sliderItems}}
    </ul>
</div>