<div class="mini-grid">
    <ul class="grid-item-container">
        {{#featuredProducts}}
            <li class="grid-item">
                {{>../general/productTile}}
            </li>
        {{/featuredProducts}}
    </ul>
</div>