<div class="product-tile">
    <a href="{{url}}" data-page="pdp:{{id}}">
        <img src="{{image}}" alt="{{name}}" border="0"/>
        <div class="product-name">
            {{name}}
        </div>
        <div class="product-price" data-bind="{{.index}}.price">
            {{_.i18n format price}}
        </div>
    </a>
</div>
