<div class="homepage">
    <h1>{{_.i18n welcomeHeadline}}</h1>
    {{>homepage/mainSlider}}

    <h2>{{_.i18n recommendation headline}}</h2>
    {{>homepage/miniGrid}}

    {{^checking}}
    	notest
    {{/checking}}
    {{#checking}}
        Test
    {{/checking}}

    {{nullPath.somewhere.in.here}}
</div>